a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.box{
    opacity: 100%;
    box-shadow: 0 0 1em silver;
}

section{
background: rgb(48,11,150);
background: linear-gradient(90deg, rgba(48,11,150,1) 10%, rgba(2,145,231,1) 100%);
}

.footer{
    padding: 1px 1px 1px;
}